<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <% include nav.ejs %>
    <div class="container">
      <div class="col-xs-12">
        <div class="" id="content"></div>
        <script src="/javascripts/boomstack.js"></script>
      </div>
    </div>
  </body>
</html>
